{% extends 'flight/MarshallLayout.html' %}

{% load static %}

{% block head %}
    <title>Marshall Home | SkyVoyage</title>
    <style>
        th {
            text-align: center;
        }
        .btn{
            margin:10px;
            border-radius: 20px;
        }
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    
        .pagination a {
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
            color: #333;
            margin-right: 5px;
        }
    
        .pagination a:hover {
            background-color: #d9d3d3;
        }
    
        .pagination .current-page {
            display: inline-block;
            padding: 8px 16px;
            background-color: #333;
            color: #fff;
            border-radius: 4px;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock head %}

{% block body %}
<div class="ct" style="margin-top: 60px;">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: fixed; float: left;  margin-top: -40px;">Add Flight</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" action="{% url 'addflight' %}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Flight</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Origin</span>
                            <input type="text" class="form-control" placeholder="Origin" aria-label="origin" aria-describedby="addon-wrapping" id="origin" name="origin" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Destination</span>
                            <input type="text" class="form-control" placeholder="Destination" aria-label="destination" aria-describedby="addon-wrapping" id="destination" name="destination" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Departure Time</span>
                            <input type="time" class="form-control" placeholder="Departure Time" aria-label="depart_time" aria-describedby="addon-wrapping" id="depart_time" name="depart_time" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Departure Day</span>
                            <input type="text" class="form-control" placeholder="Departure Day" aria-label="depart_day" aria-describedby="addon-wrapping" id="depart_day" name="depart_day" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Duration</span>
                            <input type="text" class="form-control" placeholder="HH:MM" aria-label="duration" aria-describedby="addon-wrapping" id="duration" name="duration" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Arrival Time</span>
                            <input type="time" class="form-control" placeholder="Arrival Time" aria-label="arrival_time" aria-describedby="addon-wrapping" id="arrival_time" name="arrival_time" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Plane</span>
                            <input type="text" class="form-control" placeholder="Plane" aria-label="plane" aria-describedby="addon-wrapping" id="plane" name="plane" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Airline</span>
                            <input type="text" class="form-control" placeholder="Airline" aria-label="airline" aria-describedby="addon-wrapping" id="airline" name="airline" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Economy Fare</span>
                            <input type="number" class="form-control" placeholder="Economy Fare" aria-label="economy_fare" aria-describedby="addon-wrapping" id="economy_fare" name="economy_fare" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">Business Fare</span>
                            <input type="number" class="form-control" placeholder="Business Fare" aria-label="business_fare" aria-describedby="addon-wrapping" id="business_fare" name="business_fare" required>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping" style="width: 30%;">First Class Fare</span>
                            <input type="number" class="form-control" placeholder="First Fare" aria-label="first_fare" aria-describedby="addon-wrapping" id="first_fare" name="first_fare" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <form method="POST" action="{% url 'MarshallRemoveFlights' %}">
        {% csrf_token %}
        <div class="button-group">
            <button type="submit" id="remove-btn" class = "btn btn-danger" style="position: fixed; margin-left: 120px; margin-top: -40px;" disbaled>Remove Flight</button>
        </div>
        <div class="tb" style="margin-top: 120px;">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th>Select</th>
                    <th>Flight ID</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Airline</th>
                    <th>Economy Fare</th>
                    <th>Business Fare</th>
                    <th>First Fare</th>
                    <th>Tickets</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for flight in flights %}
                <tr>
                    <td><input type="checkbox" name="selected_flights" value="{{ flight.id }}"></td>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.depart_time }}</td>
                    <td>{{ flight.arrival_time }}</td>
                    <td>{{ flight.airline }}</td>
                    <td>{{ flight.economy_fare }}</td>
                    <td>{{ flight.business_fare }}</td>
                    <td>{{ flight.first_fare }}</td>
                    <td><a href="{% url 'flight_tickets' flight.id %}">View Tickets</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="pagination">
            {% if flights.has_previous %}
                <a href="?page={{ flights.previous_page_number }}">Previous</a>
            {% else %}
                <a href="#" style="pointer-events: none;">Previous</a>
            {% endif %}

            <span class="current-page">{{ flights.number }}</span>&nbsp;

            {% if flights.has_next %}
                <a href="?page={{ flights.next_page_number }}">Next</a>
            {% else %}
                <a href="#">Next</a>
            {% endif %}
        </div>
    </div>
    </form>
</div>
    <script>
        function togglePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = (popup.style.display === "none") ? "block" : "none";
        }
        const checkboxes = document.querySelectorAll('input[name="selected_flights"]');
        $(document).ready(function() {
            // Function to handle checkbox changes
            function handleCheckboxChange() {
                const checkedCheckboxes = $('input[name="selected_flights"]:checked');
                const removeBtn = $('#remove-btn');
    
                if (checkedCheckboxes.length > 0) {
                    removeBtn.prop('disabled', false);  // Enable button when at least one checkbox is checked
                } else {
                    removeBtn.prop('disabled', true);   // Disable button when no checkboxes are checked
                }
            }
    
            // Add event listener to checkboxes
            $('input[name="selected_flights"]').on('change', handleCheckboxChange);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock%}